body{
margin: 0px;
padding: 0px;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
background: rgb(63, 251, 88);
background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
}

#container{
    width: 600px; 
    border:solid 7px;
    border-radius: 20px auto;
    margin: 20px auto;
    padding: 20px;
    background-color: rgb(255, 221, 205);
 }
 img{
    margin: 0 auto;
    display: block;
    border-radius: 50%;
 }
 h1{
    text-align: center;
 }
 .p1{
    text-align: center;
 }
 li{
    list-style: none;
    margin-bottom: 5px;
 }
 ul{
    padding: 0;

 }
 
